@page "/"
@inject HttpClient Http
@inject IJSRuntime JsRuntime;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using System.Linq;
@using System.Text.RegularExpressions;
@using BlazorInputFile;
@using System.Diagnostics;
@using System.IO;
@using System.Net.Http;
@using System.Text;

<nav>
    <ul class="nav navbar-nav">
        <li><button @onclick="reset" class="btn">Reset</button></li>
    </ul>
</nav>

<!-- <div id="options" style="display:none;">
    <form>
        <p>
            <label>Only view methods greater than this size: </label>
            <input @bind="inputSize" id="size"/>
        </p>
        <p id="fields">
            <label>Merge overloaded methods</label>
            <input @bind="overload" id="overload" type="checkbox"/>
        </p>
        <button id="submit" type="button" class="btn btn-submit" @onclick="@( e => display(@displayType) )">display</button>
    </form>

    <InputFile id="inputfile" OnChange="HandleFileSelected" />
    @if(displayType == "sunburst") {
        <label>Change Linker input</label>
        <input @bind="sunburst_in" type="checkbox"/>
    }
    @if (file != null)
    {
        <p>Name: @file.Name</p>
        <p>Size in bytes: @file.Size</p>
        <p>Last modified date: @file.LastModified.ToShortDateString()</p>
        <p>Content type: @file.Type</p>
    }
</div> -->
<div id="landing" class="fadeInUp">
    <h1 class="landing-title">Linker Visualizer</h1>
    <div id="options">
        <form>
            <p>
                <label>Only view methods greater than this size: </label>
                <input @bind="inputSize" id="size"/>
            </p>
            <p id="fields">
                <input @bind="overload" id="overload" type="checkbox"/>
                <label>Merge overloaded methods</label>

                <input @bind="compare" id="compare" type="checkbox"/>
                <label>Compare two data sources</label>
            </p>

            <label>Upload input data file</label>
            <InputFile id="inputfile" OnChange="HandleInFileSelected" />
            @if (file != null)
            {
                <p>Name: @in_file_name</p>
            }

            @if(compare) {
                <label>Upload output data file</label>
                <InputFile id="inputfile" OnChange="HandleOutFileSelected" />
                @if (file != null)
                {
                    <p>Name: @file.Name</p>
                }
            }
            <br/>
            <button id="submit" type="button" class="btn btn-submit" @onclick="display">display</button>
        </form>
    </div>
</div>

<div id="chart" style="display: none;">
            
    <div id="sunburst-container">
        <h2 class="chart-title" id="sunburst-title"></h2>
        <div class="description" id="sunburst-description"></div>
        <div id="sequence"></div>

        <div class="viz-container" id="sunburst-in">
            <div class="explanation" id="in-explanation" style="visibility: hidden;">
                    <span class="size" id="in-size"></span> =<br/>
                    <span class="percentage" id="in-percentage"></span><br/>
                    of overall size
                    @if (dataJson == null) {
                        <p><em>Loading...</em></p>
                    }
            </div>
        </div>
        
        
            <div class="viz-container" id="sunburst-out">
                <div class="explanation" id="explanation" style="visibility: hidden;">
                    <span class="size" id="out-size"></span> =<br/>
                    <span class="percentage" id="percentage"></span><br/>
                    of overall size
                </div>
            </div>
        
        
    </div>
    <div id="treemap-container">
        <h2 class="chart-title" id="tree-title"></h2>
        <div class="description" id="tree-description"></div>

        <div class="viz-container" id="in-tree">
            <div class="menu"></div>
        </div>

        
            <div class="viz-container" id="out-tree"></div>
        
        
    </div>

    @if (apps != null) {
        <div id="line-container">
            <h2 class="chart-title" id="line-title">Line and Stacked Area graphs</h2>
            <li class="dropdown">
                <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">Tests 
                 <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    @if (apps == null) {
                        <p><em>Loading...</em></p>
                    } else {
                        @foreach (var app in apps)
                        {
                            <li><a class="dropdown-button" @onclick="@( e => Graph(app) )">@app</a></li>
                        }
                    }
                </ul>
            </li>
            <div class="line-viz" id="line"></div>
            <div class="line-viz" id="area"></div>
        </div>
    }
    
    
</div>



@code {  
    Dictionary<string, List<History.Info>> info;
    string[] apps;
    FormatData data;
    FormatData in_data;
    FormatData temp_data;
    string sunburst_str;
    string sunburst_in_str;
    string dataJson;
    string dataJson_in;
    private int inputSize { get; set; }
    private bool overload { get; set; }
    private bool compare { get; set; }
    private bool sunburst_in { get; set; }
    string displayType;
    IFileListEntry file;
    private string file_name;
    private string in_file_name;

    async Task HandleInFileSelected(IFileListEntry[] files) {
        file = files.FirstOrDefault();
        in_file_name = file.Name;
        await HandleFileSelected(file, "in");
    }

    async Task HandleOutFileSelected(IFileListEntry[] files) {
        file = files.FirstOrDefault();
        file_name = file.Name;
        await HandleFileSelected(file, "out");
    }

    async Task HandleFileSelected(IFileListEntry file, string state)
    {
        string json_str = await ReadFile();
        var json_file = (List<FormatData>)JsonConvert.DeserializeObject(json_str, typeof(List<FormatData>));
        if (json_file != null) {
            if (state == "in") {
                in_data.children = json_file;
            } else {
                data.children = json_file;
            }
        }
    }   

    async Task<string> ReadFile() {
        using (var reader = new System.IO.StreamReader(file.Data)) {
            var result = await reader.ReadToEndAsync();
            return result;
        }
    }

    private string getFileName(string path) {
        string[] temp_path = path.Split('/');
        return temp_path[temp_path.Length - 1];
    }

    private async Task Graph(string app) {
        
        List<Dictionary<string, object>> data = new List<Dictionary<string, object>>();
    
        List<History.Info> infoPizza = info[app];
        foreach (var item in infoPizza) {
            data.Add(item.Library);
        }
        var json = JsonConvert.SerializeObject(data);
        await JsRuntime.InvokeAsync<string>("graph", json);
    }

    private async Task clear() {
        await JsRuntime.InvokeAsync<string>("clear");
    }

    private async Task reset() {
        await JsRuntime.InvokeAsync<string>("reset");
    }

    private async Task toggle() {
        await JsRuntime.InvokeAsync<string>("display");
    }

    private async Task collapse() {
        await JsRuntime.InvokeAsync<string>("collapse");
    }

    private async void sunburst() {
        await JsRuntime.InvokeAsync<string>("sunburst");   
    }

    private async void slope() {
        await JsRuntime.InvokeAsync<string>("slope");
    }

    private async Task getData(string path, string state="in") {
        StringBuilder json_str = new StringBuilder();
        var watch = Stopwatch.StartNew();
        using(HttpResponseMessage response = await Http.GetAsync(path, HttpCompletionOption.ResponseHeadersRead))
        using (Stream streamToReadFrom = await response.Content.ReadAsStreamAsync()) 
        using (BufferedStream bs = new BufferedStream(streamToReadFrom)){
            using (var reader = new StreamReader(bs)) {
                
                string s;
                while ((s = reader.ReadLine()) != null) {
                    json_str.Append(s);
                }
                
            }
        }
        var json_data = (List<FormatData>)JsonConvert.DeserializeObject(json_str.ToString(), typeof(List<FormatData>));
        string file_name = getFileName(path);
        if (state == "in") {
            in_data = new FormatData {name="All (" + file_name + ")",  children=json_data};
        } else {
            data = new FormatData {name="All (" + file_name + ")",  children=json_data}; 
        }
        watch.Stop();
        Console.WriteLine("get data " + state + " " + watch.ElapsedMilliseconds);
    }

    private string getClassName(string className) {
        int index = Regex.Match(className, @"\p{Lu}").Index;
        className = className.Substring(index, className.Length-index);
        className = className.Replace(",", "");
        return className;
    }

    private string getMethodName(string name) {
        char[] separator = {'('};
        name = name.Split(separator)[0];
        return name;
    }

    private void formatData(FormatData data, int size, bool overload, string state, 
                            string fileName="mscorlib.json") {
        temp_data = new FormatData {name=data.name, 
                                            size=data.size, 
                                            children=new List<FormatData>()};
        StringBuilder csv_str = new StringBuilder();
        foreach(var item in data.children) {
            string as_name = item.name;
            FormatData as_data = new FormatData{name=as_name, size=0};
            if (item.children != null) {
                foreach(var cl in item.children) {    
                    cl.name = getClassName(cl.name);
                    string class_name = cl.name;
                    FormatData class_data = new FormatData{name=class_name, children=null};            
                    if (cl.children != null && cl.size > 0) {
                        var children = cl.children;
                        if (overload) {
                            children = children.Select((d, i) => 
                                            new FormatData{name=getMethodName(d.name), size=d.size}).ToList();
                            children = children.GroupBy(d => d.name)
                                            .Select((d, i) => new FormatData
                                            {
                                                name=d.Key,
                                                size=d.Sum(da => da.size)
                                            }).ToList();
                        }
                        var child_2 = children.Where(d => d.size > size).ToList();
                        children = child_2;
                        class_data.children = child_2;
                        string begin = "All" + " (" + fileName+ ")" + "-" + as_name + "-" + class_name + "-";
                        children.ForEach(d => {
                            string name = d.name.Replace(",", "");
                            csv_str.Append(begin + name + "," + d.size + "\n");
                        });
                    }
                        
                    if (class_data.children != null && 
                        class_data.children.Count() > 0) {
                        if (as_data.children == null) {
                            as_data.children = new List<FormatData>();
                        }
                        as_data.children.Add(class_data); 
                    }
                    
                }
            }
            temp_data.children.Add(as_data);
        }
        
        if (state == "out") {
            sunburst_str = csv_str.ToString();
            dataJson = JsonConvert.SerializeObject(temp_data);
        } else if (state == "in") {
            dataJson_in = JsonConvert.SerializeObject(temp_data);
            sunburst_in_str = csv_str.ToString();
        }
        temp_data = null;
    }

    private async Task explanationDisplay(string type) {
        displayType = type;
        await JsRuntime.InvokeAsync<string>("display", type);
    }

    private async Task display() {
        formatData(data, inputSize, overload, "out", file_name);
        formatData(in_data, inputSize, overload, "in", in_file_name);
        var tree = dataJson.Replace("size", "value");
        var tree_in = dataJson_in.Replace("size", "value");
        await JsRuntime.InvokeAsync<string>("displayAll", sunburst_str, sunburst_in_str, dataJson,
                                            dataJson_in, tree, tree_in, file_name, in_file_name, compare);
    }

    private async Task LoadHistory() {
        Console.WriteLine("load history start");
        Task<Dictionary<string, List<History.Info>>> history = History.LibraryTable.LoadHistory();
        info = await history;
    }

    protected override async Task OnInitializedAsync() {
        displayType = "";
        sunburst_str = "";
        sunburst_in_str = "";
        inputSize = 300;
        overload = false;
        file_name = "mscorlib.json";
        in_file_name = "data.json";

        var watch = Stopwatch.StartNew();
        List<Task> tasks = new List<Task>();
        tasks.Add(LoadHistory());
        tasks.Add(getData("json/data.json", "in"));
        tasks.Add(getData("json/mscorlib.json", "out"));
        tasks.Add(clear());
        await Task.WhenAll(tasks);
        apps = info.Keys.ToArray();  
        watch.Stop();
        Console.WriteLine("get data " + watch.ElapsedMilliseconds);        
    }
    
    public class FormatData{
        public string name { get; set; }
        public int size { get; set; }
        public List<FormatData> children { get; set; }

        public FormatData Copy() {
            FormatData other = (FormatData) this.MemberwiseClone();
            other.name = String.Copy(name);
            other.size = size;
            other.children = new List<FormatData>(children);
            return other;
        }
    }
    

}

